<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyHub</title>
</head>
<body>
    <header class="container-header">
        <div class="site-icon-container">
            <a href="/mypage" class="site-icon">MyHub</a>
        </div>
        <div class="nav-container">
            <a href="/mypage" class="nav-mypage">マイページ</a>
        </div>
    </header>
    <main class="container-main">
        <div class="">
            <h1>MyHub</h1>
            
        </div>
    </main>
    <footer class="container-footer">
        
    </footer>
</body>
</html>