<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/portfolio.css">
    <title>MyHub</title>
</head>
<body>
    <header class="container-header">
        <div class="site-icon-container">
            <a href="/" class="site-icon">MyHub</a>
        </div>
        <div class="nav-container">
            <a href="/mypage" class="nav-mypage">マイページ</a>
        </div>
    </header>
    <div class="portfolio-header">
        <h1 class="title">PhotoGallery</h1>
        <p>場所毎の写真</p>
    </div>
    <div class="portfolio-gallery">
        <div class="portfolio-folder-wrapper">
            <div class="portfolio-folder">
                <img src="/images/b1.JPG" alt="Portfolio Image 1" class="folder-image">
                <img src="/images/b2.JPG" alt="Portfolio Image 2" class="folder-image">
                <img src="/images/background.JPG" alt="Portfolio Image 3" class="folder-image">
            </div>
            <p class="gallery-title">9月</p>
        </div>
    </div>
    <div id="modal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <img class="modal-content" id="modalImg">
        <div class="prev" id="prev" onclick="changeImage(-1)">&#10094;</div>
        <div class="next" id="next" onclick="changeImage(1)">&#10095;</div>
        <p class="gallery-title">9月</p>
    </div>
    <script src="/js/gallery_modal.js"></script>
</body>
</html>