<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/public/js/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>MyHub</title>
</head>
<body>
    <div class="top-wrapper">
        <div class="top-detail">
            <h1 class="title">MyHub</h1>
            <p class="detail">私の活動をまとめたサイトです。</p>
        </div>
        <div class="links-container">
            <ul class="menu">
                <div class="menuToggle">
                    <ion-icon name="add-outline"></ion-icon>
                </div>
                <li style="--i: 0; --clr: #d97777">
                    <a href="#"><ion-icon name="home-outline"></ion-icon></a>
                </li>
                <li style="--i: 1; --clr: #e5cc60">
                    <a href="#"><ion-icon name="settings-outline"></ion-icon></a>
                </li>
                <li style="--i: 2; --clr: #87c38f">
                    <a href="#"><ion-icon name="mail-outline"></ion-icon></a>
                </li>
                <li style="--i: 3; --clr: #e19de1">
                    <a href="#"><ion-icon name="key-outline"></ion-icon></a>
                </li>
                <li style="--i: 4; --clr: #6baace">
                    <a href="#"><ion-icon name="camera-outline"></ion-icon></a>
                </li>
                <li style="--i: 5; --clr: #edb46a">
                    <a href="#"><ion-icon name="game-controller-outline"></ion-icon></a>
                </li>
                <li style="--i: 6; --clr: #a39ce8">
                    <a href="#"><ion-icon name="person-outline"></ion-icon></a>
                </li>
                <li style="--i: 7; --clr: #80c9b9">
                    <a href="#"><ion-icon name="videocam-outline"></ion-icon></a>
                </li>
            </ul>
        </div>
    </div>
    <script>
        $(document).ready(function() {
          let menuToggle = document.querySelector(".menuToggle");
          let menu = document.querySelector(".menu");
    
          menuToggle.onclick = function () {
            menu.classList.toggle("active");
            toggleSound.currentTime = 0; 
          };
    
          $("a").mouseenter(function() {
            hoverSound.currentTime = 0; 
            hoverSound.play();
          });
        });
      </script>
</body>
</html>