@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

h1.title {
    font-family: 'Great Vibes', cursive;
}

* {
    padding: 0;
    margin: 0;
  }
  /* body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(deg, #2c3e50, #34495e);
    background: #f8f4e6;
  } */
  /* .top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto; 
    padding: 20px;
} */
body {
  background-image: url('/images/DSC02533.JPG');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
h1.title {
  font-size: 48px;
  color: #ffffff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}
.top-detail {
    flex: 1;
    text-align: center;
}

.links-container {
    flex: 1;
    display: flex;
    justify-content: center;
}
/* h1.title {
    font-size: 48px; 
    color: #2c3e50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-weight: bold;
} */
p.detail {
    color: #34495e;
    font-size: 18px; 
    margin-top: 10px; 
}


  .menu {
    position: relative;
    width: 260px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu li {
    position: absolute;
    left: 0;
    list-style: none;
    transform: rotate(0deg) translateX(100px);
    transform-origin: 130px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
  }
  .menu.active li {
    transform: rotate(calc(360deg / 8 * var(--i)));
  }
  .menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    text-decoration: none;
    font-size: 22px;
    border-radius: 50%;
    transform: rotate(calc(360deg / -8 * var(--i)));
    transition: 1s;
    color: transparent;
    transition-delay: 0.5s;
    filter: drop-shadow(0 0 2px var(--clr));
  }
  .menu.active a {
    color: var(--clr);
  }
  .menu a::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background: var(--clr);
    transform: rotate(calc(90deg * var(--i))) translate(0, 25px);
    transition: width 0.5s, height 0.5s, transform 0.5s;
    transition-delay: 0.5s, 1s, 1.5s;
  }
  .menu.active a::before {
    width: 50px;
    height: 50px;
    background: #e0e0e0;
    border: 2px solid var(--clr);
    border: 2px solid var(--clr); 
    transform: rotate(calc(0 * var(--i)));
    transition: transform 0.5s, height 0.5s, width 0.5s;
    transition-delay: 0.5s, 1.5s, 1.5s;
    border-radius: 10px;
    filter: drop-shadow(0 0 5px var(--clr));
    rotate: 135deg;
  }
  .menu.active li:hover a::before {
    background: var(--clr);
  }
  .menu.active li:hover a ion-icon {
    color: #ffffff;
  }
  
  .menuToggle {
    position: absolute;
    width: 60px;
    height: 60px;
    color: #2c3e50;
    /* background-color: #2c3e50; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    border-radius: 50%;
    cursor: pointer;
    font-size: 32px;
    transition: 1.5s;
  }
  .menu.active .menuToggle {
    transform: rotate(315deg);
  }